@model Gemini.Models._20_Web.HeaderModel

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="/"><img src="~/assets/theme/img/logohan.png" alt=""></a>
    </div>
    <div class="humberger__menu__cart">
        <ul>
            <li><a class="tin__da__luu" href="/san-pham-da-luu"><i class="fa fa-heart"></i> <span>0</span></a></li>
            <li><a class="gio__hang" href="/gio-hang"><i class="fa fa-shopping-bag"></i> <span>0</span></a></li>
        </ul>
    </div>
    <div class="humberger__menu__widget">
        <div class="header__top__right__auth">
            <a href="/admin"><i class="fa fa-user"></i> @Model.CurrentUsername</a>
            <br />
            <a href="/doi-mat-khau"><i class="fa fa-lock"></i> Đổi mật khẩu</a>
            <br />
            <a href="/admin/Admin/Logout"><i class="fa fa-sign-out"></i> Đăng xuất</a>
        </div>
    </div>
    @if (Model.CurrentUsername == "Đăng nhập")
    {
        <div class="humberger__menu__widget" style="margin-left: 10px">
            <div class="header__top__right__auth">
                <a href="/admin/Admin/Register"><i class="fa fa-registered"></i> Đăng ký</a>
            </div>
        </div>
    }
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            @if (Model.ListMenu != null && Model.ListMenu.Any())
            {
                foreach (var item in Model.ListMenu)
                {
                    <li><a href="@item.LinkUrl">@item.Name</a></li>
                }
            }
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="header__top__right__social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
    </div>
    <div class="humberger__menu__contact">
        <ul>
            <li><i class="fa fa-envelope"></i> 0123456789</li>
            <li>Trần Thanh Ngân</li>
        </ul>
    </div>
</div>
<!-- Humberger End -->
<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6" style="margin: auto;">
                    <div class="header__top__left">
                        <ul style="margin-bottom: 0px;">
                            <li><i class="fa fa-envelope"></i> 0368 465 912</li>
                            <li>Trần Thanh Ngân</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <div class="header__top__right__auth">
                            @if (Model.CurrentUsername == "Đăng nhập")
                            {
                                <a href="/admin"><i class="fa fa-user"></i> @Model.CurrentUsername</a>
                            }
                            else
                            {
                                <ul class="header__user__ul" style="margin-bottom: 0px;">
                                    <li class="header__user__li">
                                        <a href="/admin"><i class="fa fa-user"></i> @Model.CurrentUsername</a>
                                        <ul class="dropdown">
                                            <li style="text-align: left;"><a href="/tai-khoan"><i class="fa fa-user-circle"></i>Tài khoản</a></li>
                                            <li style="text-align: left;"><a href="/doi-mat-khau"><i class="fa fa-lock"></i>Đổi mật khẩu</a></li>
                                            <li style="text-align: left;"><a href="/admin/Admin/Logout"><i class="fa fa-sign-out"></i>Đăng xuất</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            }
                        </div>
                        @if (Model.CurrentUsername == "Đăng nhập")
                        {
                            <div class="header__top__right__auth" style="margin-left: 10px">
                                <a href="/admin/Admin/Register"><i class="fa fa-registered"></i> Đăng ký</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="/"><img src="~/assets/theme/img/logohan.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul id="menu">
                        @if (Model.ListMenu != null && Model.ListMenu.Any())
                        {
                            foreach (var item in Model.ListMenu)
                            {
                                <li><a href="@item.LinkUrl">@item.Name</a></li>
                            }
                        }
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a class="tin__da__luu" href="/san-pham-da-luu"><i class="fa fa-heart"></i> <span>0</span></a></li>
                        <li><a class="gio__hang" href="/gio-hang"><i class="fa fa-shopping-bag"></i> <span>0</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->

<script>
    var currentUrl = location.pathname;
    var menus = $('#menu > li > a[href="' + currentUrl + '"]');
    if (menus && menus.length > 0) {
        var li = menus[0].parentNode;
        li.classList.add("active");
    }

    loadCartProduce('@ViewBag.CurrentUsername');
</script>