@model Gemini.Models.SUser
@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
<style>
    body {
        margin-top: 20px;
        background-color: #f2f6fc;
        color: #69707a;
    }

    .img-account-profile {
        height: 10rem;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }

    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }

        .card .card-header {
            font-weight: 500;
        }

    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }

    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }

    .form-control, .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }

    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
</style>
<div class="container-xl px-4 mt-5 mb-5" style="min-height: 70vh;">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link active ms-0" href="/" target="__blank">Thông tin</a>
        @*<a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-profile-billing-page" target="__blank">Billing</a>
            <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-profile-security-page" target="__blank">Security</a>
            <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-edit-notifications-page" target="__blank">Notifications</a>*@
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Ảnh đại diện</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2" src="@Model.Avartar" alt="">
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Thông tin cá nhân</div>
                <div class="card-body">
                    <form action="/tai-khoan" method="post" enctype="multipart/form-data">

                        <div class="mb-3">
                            <label class="small mb-1" for="avatar">Ảnh đại diện</label>
                            <input id="avatar" type="file" name="Avatar">
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="userName">Tên tài khoản</label>
                                <input class="form-control" id="userName" name="userName" type="text" value="@Model.Username" readonly required>
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="fullName">Họ tên</label>
                                <input class="form-control" id="fullName" name="fullName" type="text" placeholder="Nhập họ và tên" value="@Model.FullName" required>
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="mobile">Số điện thoại</label>
                                <input class="form-control" id="mobile" name="mobile" type="text" placeholder="Nhập số điện thoại" value="@Model.Mobile" required>
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="fullAddress">Địa chỉ</label>
                                <input class="form-control" id="fullAddress" name="fullAddress" type="text" placeholder="Nhập địa chỉ" value="@Model.FullAddress" required>
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="Skype">Skype</label>
                                <input class="form-control" id="Skype" name="Skype" type="text" placeholder="Link skype" value="@Model.Skype">
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="Zalo">Zalo</label>
                                <input class="form-control" id="Zalo" name="Zalo" type="text" placeholder="Link Zalo" value="@Model.Zalo">
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="email">Email</label>
                                <input class="form-control" id="email" type="email" name="email" placeholder="Nhập địa chỉ email" value="@Model.Email" readonly required>
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="Facebook">Facebook</label>
                                <input class="form-control" id="Facebook" name="Facebook" type="text" placeholder="Link Facebook" value="@Model.Facebook">
                            </div>
                        </div>
                        <p class="mb-1 mt-1">@ViewBag.Message</p>
                        <button class="btn btn-primary" type="submit">Cập nhật</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>